@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div class="form-group" style="border: solid 3px darkgray"> 
    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search">
            <label>Me:</label>
            <p>@ViewData["Message"]</p>
            <div style="border-top:solid 1px darkgray">
                <label>Project:</label>
                <p>The "Calculator" project is to create a normal calculator with the basics functions addition, subtraction, multiplication and division</p>
            </div>
        </form>
    </div>
</div>